.bt {
    font-family: Verdana, Geneva, sans-serif;
    position: relative;
    margin: 10px;
    left: 20px;
    border-radius: 3px;
}

.bt-dis {
    margin: 10px 30px;
}

.btAdd {
    margin: 2px;
    width: 140px;
    border: none;
    cursor: pointer;
    color: #d9e3e6;
    padding: 2px;
    border-radius: 2px;
    font-size: 1em;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(89, 83, 76, 0.5);
    background: #02122b;
}

.btAdd:hover {
    color: #aaaaaa;
}

.animation1 {
    position: absolute;
    width: 100%;
    height: 1.8em;
    background-color: #FFF;
    top: 0;
    left: 0px;
    top: 0px;
    transform: scale(0);
    opacity: 0.5;
    border-radius: 100px;
}

.btAdd:hover > .animation1 {
    animation: ripple1 2s;
}

@keyframes ripple1 {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}