@font-face {
    font-family: 'ubuntu';
    src: url(../fonts/3974.ttf);
}

html, body {
    background: url(../images/test.jpg) round;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.st {
    font-size: 1em;
    width: 100px;
    margin: 5px 5px;
    padding: 5px 5px;
}

.tbRes {
    background-color: rgba(128, 69, 186, 0.5);
    font-weight: bold;
}

.tbTitle {
    margin: 10px;
    border: 2px solid snow;
    padding: 5px;
    text-align: center;
    font-size: large;
    font-family: Constantia sans-serif;
    color: snow;
}

.flex-container {
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    display: flex;
}

.container-justify {
    justify-content: center;
}

.tbStyle {
    background: rgba(60, 138, 81, 0.8);
}

.tbUser td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.tbUser td.active {
    background: #fffb3e;
    color: #fff;
}


  
 

